@charset "UTF-8";

/* 回答はここに書いてね */
.q9__balloon {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  width: 500px;
  border-radius: 30px;
  border: 5px solid #222;
}

.q9__balloon::before {
  content: "";
  position: absolute;
  bottom: -38px;
  left: 50%;
  left: 30px;
  border: 20px solid transparent;
  border-top: 20px solid #FFF;
  z-index: 2;
}

.q9__balloon::after {
  content: "";
  position: absolute;
  bottom: -45px;
  left: 30px;
  border: 20px solid transparent;
  border-top: 20px solid #222;
  z-index: 1;

}

/* 回答はここに書いてね */
