@charset "UTF-8";

/* 回答はここに書いてね */
.layout_table1 {
  table-layout: fixed;
  width: 100%;
  text-align: center;
}

.layout_table1 th {
  background-color: #2244aa;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  width: 100px;
}

.layout_table1 th, .layout_table1 td {
  border: solid 1px #dedede;
  padding: 10px;
}

.layout_table1 tbody tr:nth-child(even) {
  background-color: #ecf1f2;
}

.layout_table1 tbody tr:last-child {
  border-top: dashed 2px #000;
}







/* 回答はここに書いてね */
